@media screen and (min-width: 480px) {

  /*********
  TWO COLUMN LAYOUT
  *********/

  #primary{
    width: 50%;
    float: left;
    margin-left: 2.5%;
}

  #secondary {
    width: 40%;
    float: right;
  }






  /*********
 ABOUT PAGE
*********/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 5%;
  }




@media screen and (min-width: 660px) {

    /*********
 HEADER
*********/

    nav {

      background: none;
      float: right;
      font-size: 1.125em;
      margin-right: 5%;
      padding-top: 25px;
      text-align: right;
      width: 45%;
    }

    nav a.selected, nav a:hover {
      text-decoration: underline;
      ;

    }
    nav a.selected {
      color: #fff;
      text-decoration: underline;
    }

    #logo{
      float: left;
      margin-left: 5%;
      text-align: left;
      width: 45%;
    }

    h1 {
      font-size: 2.5em;

    }

    h2 {
      font-size: 0.0em;
      margin-bottom: 10px;
    }

    header {

      border-bottom: 1px solid #aaa;
      margin-bottom: 30px;

    }

    #header-container {

      max-width: 940px;
      margin: 0 auto;
    }

    /*********
 PORTFOLIO
*********/

  #gallery li {
    width: 45%;
    margin: 2%;
  }

  #gallery li:nth-child(3n) {
    clear: left;

  }

  #portfolio-1 {
    display: block;

  }

  #portfolio-2{
    display: block;
    clear: left;
  }

  #gallery-2 li {
    width: 45%;
    margin: 2%;
  }

  #gallery-2 li:nth-child(3n) {
    clear: left;

  }


}
